body {
  font-family: 'lato';
  font-size: 20px;
  height : 100vh;
}

.container {
  height: 100vh !important;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.material-icons {
  font-size: 48px;
}

h1 {
  font-weight: bold;
}
h2 {
  margin-bottom: 0px;
}

p.card-text {
  font-size: .8rem !important;
}

#menu-wrapper {
  height: 0px;
  opacity: 0;
}

.menu-name {
  opacity: 0;
}

#game-screen {
  display: none;
}

#return-btn > button {
  font-weight: bold;
  border-width: 2px;
  min-width: 135.8px;
}

#return-btn > button:not(:hover) {
  background-color: white;
}

#game-controls {
  
}

.player-name {
  font-size: 40px;
}

.global-score {
  font-size: 60px;
}

.round-score-container {
  min-width: 100px;
  height: 100px;
}
.round-score {
  font-size: 40px;
}

.player-picked {
  box-shadow: 1px 2px 5px 0px lightgrey;
  transition: box-shadow 2s;
}

.player-unpicked {
  opacity: 30%;
  z-index: -1;
  transition: opacity 2s;
}

#roll-btn, #hold-btn{
  font-weight: bold;
}
#roll-btn:hover, #hold-btn:hover{
  transform: scale(1.1);
}



@media screen and (max-width: 767px){
  #return-btn {
    /* position: absolute; */
    top: -50px !important;
    /* left: ; */
  }
  #game-controls {
    position: relative !important;
    top: 70px !important;
  }
}